<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<h1><p align="center">Here are your topics</h1></p>
<p></p>
<h1><p align="center"><%= h @topic1_name %> ------> <%= h @topic2_name %></h1>


<script>
  //Initializes clock with ten second countdown timer
  $(function initializeClock () {

    var target_url =  "wikigame?topic1=" + "<%= @topic1_url %>" + "&topic2=" + "<%= @topic2_url %>"
        + "&first=true&start=" + <%= @start_time %> + "&end=" + <%= @end_time.to_s %>
        + "&current_path=" + "<%= @topic1_url %>";

    $('#initialCountdown').countdown({until: '+10s', expiryUrl: target_url, format: 'S'});

  });



</script>



<p id="initialCountdown"></p>
<p align="center"><%= link_to image_tag("go-now.JPG"),
                              :controller => "gameplay", :action => "wikigame", :topic1 => @topic1_url,
                              :topic2 => @topic2_url, :first => "true", :start => @start_time, :end => @end_time.to_s,
                              :current_path => @topic1_url %> </p>

<br><br>
<h3><p align="center">About your target</h3></p>
<p align="center"><%== @first_para %></p>