
<script>
  //Updates the timer
  $(function updateClock () {
    var remaining = <%= params[:end].to_i %> - <%= params[:start].to_i %>;
    $('#gameplayCountdown').countdown( 'option', 'onExpiry', nullEnd);
    $('#gameplayCountdown').countdown( 'option', 'until', remaining);
  });

  //Initializes timer
  $(function initializeClock() {
    $('#gameplayCountdown').countdown({until: <%= @time_left%> , onExpiry: endGame, format: 'MS'});

  });

  //Redirects to loser page
  function endGame() {
    $(window.location.replace("/main/finished?win=false" ))

  }

  //Used so that multiple calls to final page are not made
  function nullEnd() {
    //This is empty
  }


</script>

<div style="float:left; width:20%;">

  <h1><p align="center"><%= h @topic1_name %> ------> <%= h @topic2_name %></h1>
  <% if params[:first] == "true" %>
      <script>
        initializeClock();
      </script>
    <p id="gameplayCountdown"></p>
  <%else%>
      <script>
        updateClock();
      </script>
      <p id="gameplayCountdown"></p>

  <% end %>

  <p align="center"><%= params[:current_path]%></p>


</div>
<div style="float:left; width:80%;">

  <!--
  <object type="text/html" data="https://en.wikipedia.org/wiki/<%= @topic1_link%>" width="100%" height="900px" style="overflow:auto;border:5px ridge blue">
  </object></div>
  -->

  <%== @page %>

</div>